/* --- STYLES POUR LE TEXTE --- */

/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: .1em 0 .5em 0; /* -> 6 */
}
h1, h2 {
	font-family: SansationBold, 'trebuchet ms', helvetica, arial, sans-serif;
	font-variant: small-caps;
	font-weight: normal; /* -> 7 */
}
h1 {
	font-size: 3em; /* -> 8 */
	font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}


/* Listes */
ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; /* -> 9 */
}
ul {
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}


/* Paragraphes */
p {
	margin: 0;
}
li p, blockquote p {
	margin: 0;
}

/* Citations */
blockquote, q {
	font-size: 1.1em;
	font-style: italic;
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
blockquote {
	margin: 0 0 0 24px;
}
cite {
	font-style: italic;
}


/* Liens */
a {
	color: #FF6533;
	text-decoration: underline;
}
a:hover, a:focus {
	color: crimson;
}
a img {
	border: none; 
}


/* Divers éléments de type en-ligne */
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: dimgray;
	/*color: #A1B55D;*/
}
pre, code {
	font-size: 100%;
	font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
	width: 90%;
	overflow: auto;
	overflow-y: hidden;
	margin: .75em 0;
	padding: 12px;
	background: #eee;
	color: #555;
}
pre strong {
	font-weight: normal;
	color: black;
}




/* --- COULEURS --- */

/* Général */
html {
	font-size: 100%; /* Voir -> Note 1 à la fin de la feuille de styles. */
}

section{
	width:70%;
	float: right;
}

body {
	margin: 0;
	padding: 10px auto;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
	font-size: .8em;
	line-height: 1.25;
	color: black;
	color: #F0E39E;
	/*background: #333 url(http://subtlepatterns.com/patterns/tex2res4.png) repeat;*/
	background: #F2EDE7;
	padding: 0px 10px 0px 10px;
}

header, nav, article, aside, footer, section{
	display: block;
}

/* En-tête */
body header {
	background: #F2EDE7;
	padding: 20px;
	width: 1000px;
	margin: auto auto;
	color: #848F63;
}
header h1 {
	margin: 0;
}
header h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
header .sous-titre {
	margin: 4px 0 15px 0;
}

body header nav{
	display: block;
	float: right;
	margin: 0 30px 0 0;
}

body header nav a {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
	font-size: 1.17em;
	color: #666560;
	margin-right: 20px;
}
body header nav a:hover {
    color: white;
    background-color: #444;
}

.intro{
	background: #C9C3BE;
	width: 100%;
	display:none;
	height: 300px;
	margin-bottom: 10px;
}

.text-intro{
	width: 1000px;
	margin: auto auto;
}	

.text-intro img{
	height: 250px;
	margin: 25px 25px 25px 0;
	float: left;
	border: 1px solid #fff;
}



.bienvenue{
	display: table-cell;
	float: right;
	max-width: 450px;
	margin: 45px auto 25px auto;
	line-height: 1.2em;
	color: #49A5D3;
	font-size: 14px;
	vertical-align: middle;
	font-size: 1.17em;
	color: #666560;
	text-align: justify;
}

.bienvenue p{
	margin-bottom: 15px;
}

/* Menu de navigation */
aside{
	width: 250px;
	height: 100%;
	display: block;
	background: #494846;
	float: left;
	min-height: 100%;
	padding: 5px 0;
	border: 0px solid #000;
}

aside a{
	display: block;
	margin-bottom: 10px;
	margin-left: -19px;
	width:200px;
	padding: 6px 6px 6px 25px;
	line-height: 1.5;
	font-variant: small-caps;
	font-size: 1.1em;
	font-family: SansationBold, 'trebuchet ms', helvetica, arial, sans-serif;
	text-decoration: none;
	color: #ffffff;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-box-shadow: inset 1px 1px 5px 1px #C9C3BE;
	-webkit-box-shadow: inset 1px 1px 5px 1px #C9C3BE;
	-o-box-shadow: inset 1px 1px 5px 1px #C9C3BE;
	box-shadow: inset 1px 1px 5px 1px #C9C3BE;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#C9C3BE, Direction=134, Strength=5);
	-moz-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}
aside a:hover, aside a:focus{
	background: #49A5D3;
	font-weight: bold;
	color: #ffffff;
	-moz-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#C9C3BE, Direction=134, Strength=5);
}
aside .current{
	background-color: #1E52A1;
	color: #fff;
	font-weight: bold;
	-moz-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}
aside .current:hover{
	font-weight: bold;
	background-color: #1E52Af;
	color: #fff;
	-moz-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}

/* Contenu principal */
article {
	float:right;
	color: #363B29;
	padding: 0px 0px 10px 0px;
	width: 740px;
	margin: 1px auto;
	background: #ffffff;
	min-height: 450px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	zoom: 1;
}
article a {
	color: #332510;
}
article a:hover, article a:focus {
	color: #6E5122;
}
article strong {
	color: #181A12;
}
article :first-child {
	margin-top: 10px;
}
article p, article li , article blockquote{
	line-height: 1.5;
	line-height: 1.5;
	background: #F9F9F9;
}

	
/* Pieds de page */
footer {
	width: 1000px;
	margin: 1px auto;
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: .8em;
	color: #848F63;
	border-top: 1px solid #000;
}

footer a {
	color: #848F63;
	text-decoration: none;
}
footer a:hover, #copyright a:focus {
	text-decoration: underline;
}
	
	

/* Panel de profil et de déconnexion */
.login{
	padding: 10px 0px 10px 0px;
	min-height:50px;
	min-width: 300px;
	-moz-border-radius : 10px;
	background: #494846;
	color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.login p{
	text-align: center;
}

.login a{
	color: #ffffff;
}

.login-submit{
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 25px;
	background-color: #1E52A1;
	box-sizing: border-box;
	margin: 10px auto 0 auto;
	color: #fff;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #EDEBE6;
	-webkit-box-align: center;
	text-align: center;
	width: 202px;
	padding: 1px;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}

.submit-p{
	padding: 0px 0 5px 0;
	text-align: center;
	font-size: 0.8em;
}

.login-submit:hover{
	background-color: #376EBF; 
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}



.search-input{
	display: block;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 3px center;
	margin: 5px 5px 5px 5px;
	background: #FBFAF8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 80%;
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid #EDEBE6;
	vertical-align: middle;
}

#loader{
	margin: 120px auto;
}


#results{
	width: 100%;
	padding: 15px auto;
}


.form-p{
	margin: 0 0 10px 0;
	font-size: 0.875em;
	vertical-align: baseline;
	background: transparent;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	
}


#ajoutLivre{
	max-width: 450px;
	margin: 0 auto;
	background: #F2EDE7;
	display: none;
}
#ajoutLivre a, #ajoutFiche a{
	padding:0;
	margin: 0;
}

#ajoutFiche{
	max-width: 560px;
	margin: 0 auto;
	background: #F2EDE7;
	display: none;
}

#contenu{
	width:1000px;
	height:100%;
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	-moz-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.profil-cat{
	border-bottom:1px dashed green;
	font-size: 110%;
	color: #696969;
	font-style: normal;
	font-variant: small-caps;
	letter-spacing: 0.06em;
	font-family: SansationBold, 'trebuchet ms', helvetica, arial, sans-serif;
	display: block;
	font-weight: bold;
	text-shadow: 1px 1px 1px #A9A9A9;
	margin-top: 20px;
}


.login-input{
	display: inline-block;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 3px center;
	margin: 5px 5px 5px 5px;
	background: #FBFAF8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 202px;
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid #EDEBE6;
	vertical-align: middle;
}


.notif-succes{
	background: #fffec2;
	border: 1px solid #f2e1dc;
	padding: 1em;
	font-size: 0.875em;
	display: block;
	font-family: Arial, sans-serif;
	color: #413A32;
	width: 300px;	
	margin: 1em auto;	
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.notif-erreur{
	background: #f2e1dc;
	border: 1px solid #f3c5c1;
	padding: 1em;
	font-size: 0.875em;
	display: block;
	font-family: Arial, sans-serif;
	color: #413A32;
	width: 300px;	
	margin: 1em auto;	
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


.notif-close{
	float: right;
	display: block;
	height: 16px;
	width: 16px;
	text-indent: -3000em;
	background: transparent url(../images/dialog-close.png) no-repeat center;
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	vertical-align: top;
}

.notif-erreur:hover .notif-close, .notif-succes:hover .notif-close, #ajoutFiche:hover .notif-close, #ajoutLivre:hover .notif-close{
	background-color: #f3c5c1;
	opacity: 1;
}























